.shop-items {

    width: 150px;
    height: auto;
    position: relative;
    z-index:10;
    border-radius: 10px;
    margin: 20px;
    
}

.shop-items:hover > .image-bg {
    display: flexbox;
    z-index: 10;
    background-color: rgba(0, 111, 255, 0.5);
}

.shop-items:hover > .item-description  {
    display: flexbox;
    z-index: 10;
    background-color: rgba(0, 111, 255, 0.5);

}

.image-bg {
    background-color: rgba(246, 246, 246, 0.4);
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 25px 25px 0 0;
    transition-duration: 2s;
}
.item-img {
    padding-top: 20px;
    width: 40%;
    height: auto;
}

.item-description {
    transition-duration: 2s;
    background-color: rgba(246, 246, 246, 0.4);
    border-radius: 0 0 25px 25px;
}