.offconvas {
    background-color: red;
    position: relative;
    top: 0;
    left: 0
}

.item {
    width: 6vw;
    height: 6vw;
    margin: 1px;
    display: inline-block;
    background-color: blue;
    
}

.item-img {
    width: 100%
}
