.item {
    width: 6vw;
    height: 6vw;
    margin: 1px;
    display: inline-block;
    background-color: blue;
    
}

.item-img {
    width: 100%
}

.item-description {
    visibility: hidden;
}

.shop-offconvas {
    position: absolute
}