.publicate-button {
    margin-top: 15%;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.publicate-button button {
    font-size: 72px;
    width: 400px;
    background-color: rgb(246, 246, 246);
    border-radius: 12px;
    border: 2px solid black;
    transition: 1s;
}

.publicate-button button:hover {
    background-color: black;
    color: white;
}   