

.activity-block {
    width: 45%;
    height: 12vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 5vh;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    
}

.available-to-buy {
    width: 45%;
    height: 12vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 5vh;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.available-to-buy > .inside-block > .activity-info {
    visibility: hidden;
}
.available-to-buy > .inside-block > .activity-buttons > .activity-button {
    visibility: hidden;
}
.available-to-buy > .inside-block > .activity-image {
    filter: brightness(0)
}

.available-to-buy > .inside-block > .activity-buttons > .buy-button {
    width: 100%;
    height: 5vh;
}

.available-to-buy > .inside-block > .activity-buttons > .buy-button:hover {
    opacity: 0.9;
    transform: scale(1.1);
}
.inside-block {
    display: inline-block;
}


.activity-block button:hover:enabled {
    transform: scale(1.1);
    z-index: 999;
}


.activity-image {
    display: inline-block;   
    position: relative;
    z-index: 0;
    top:0;
    left: 0;
    padding-right: 20px;
}

.activity-image img {
    height: 12vh;
    position: relative;

}

.activity-image p {
    bottom: 0;
    vertical-align: bottom;
    text-align: center;
}

.activity-info {
    display: inline-block;
    width: 70%;
    top: 10%;
    position: absolute;
    color: white;
}
 
.activity-progression-bar {
    color: red;
    height: 3vh;
}

.activity-buttons {
    width: 70.7%;
    display: inline-block;
    position: absolute;
    bottom: 6%;
    
}

.activity-buttons button {
    transition: 0.2s;
}

.activity-buttons .buy-button {
    width: 72%;
    margin-right: 5%;
}

.disabled {
    visibility: hidden;
}
