.activities {
    width: 50%;
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    position: relative;
}

.activity-block {
    width: 44%;
    height: 12vh;
    background-color: green;
    margin-left: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: inline-block;
    position: relative;
    box-shadow: 3px 3px white;
}

.inside-block {
    display: inline-block
}
.activity-button {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.2s

}

.buy-button {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 18%;
    transition: 0.2s

}

.activity-block button:hover:enabled {
    transform: scale(1.1);
    z-index: 999;
}

.activity-block :disabled {
    box-shadow: 0
}

.activity-image {
    display: inline-block;   
    position: relative;
    z-index: 0;
    background-color: red;
    top:0;
    left: 0;
}
.activity-image img {
    height: 12vh;
    position: relative;

}

.activity-image p {
    bottom: 0;
    vertical-align: bottom;
    text-align: center;
}

.activity-info {
    background-color: blue;
    display: inline-block;
    top: 0;
    position: absolute
}
 