

.activity-block {
    width: 40%;
    height: 12vh;
    margin-left: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.inside-block {
    display: inline-block
}


.activity-block button:hover:enabled {
    transform: scale(1.1);
    z-index: 999;
}

.activity-block :disabled {
    box-shadow: 0
}

.activity-image {
    display: inline-block;   
    position: relative;
    z-index: 0;
    top:0;
    left: 0;
    padding-right: 20px;
}
.activity-image img {
    height: 12vh;
    position: relative;

}

.activity-image p {
    bottom: 0;
    vertical-align: bottom;
    text-align: center;
}

.activity-info {
    display: inline-block;
    width: 70%;
    top: 10%;
    position: absolute;
    color: white;
}
 
.activity-progression-bar {
    color: red;
    height: 3vh;
}

.activity-buttons {
    width: 70.7%;
    display: inline-block;
    position: absolute;
    bottom: 6%;
    
}

.activity-buttons button {
    transition: 0.2s;
}

.activity-buttons .buy-button {
    width: 72%;
    margin-right: 5%;
}