/* The side navigation menu */
.active-menu {
    height: 100vh; /* 100% Full-height */
    width: 40vh;
    position: relative; 
    background-color: aliceblue;
}

.inside-menu {
    overflow-y: scroll;
}

.close-menu {
    width: 1vw;
    height: 15vh;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    background-color: black;
}