.sidebar {
    background-image: url('../../public/img/Sidebar background.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    background-color: aqua;
    left: 0;
    top: 0;
    width: 10vw;
    height: 100vh;
    
}

.title {
    font-size: 20px;

}

.sidebar-components ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    text-align: center;
}
    
.value-icons img {
    width: 5vh
}

.menu-icons img {
    width: 7vh
}