.nav-bar {
    position: fixed;
    width: 100vw;
    z-index: 999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.mr-auto div {
    margin-left: 50px;
    padding-left: 50px;
    color: white;
}

.brand {
    padding-left: 30px;
    color: white;
}