body {
    margin: 0;
    background-image: url('../public/img/background.png');
    background-size: cover;
    display: inline-block;
    
    
}

.sidebar {
    background-image: url('../public/img/Sidebar background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 10vw;
    height: 100vh;
    
}

.main-block {
    width: 80vw;
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 20px 25px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 20px 25px rgba(4, 4, 4, 0.4);
    box-shadow: 0px 0px 20px 25px rgba(4, 4, 4, 0.4);
    transition: margin-left .5s;
}



.activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 3vh;
    padding: 0;
    height: 90vh;
    list-style-type: none;

}